RewriteEngine On

RewriteCond %{SERVER_PORT} !^443$

RewriteRule /?\.htaccess$ - [F,L]
RewriteRule ^/?config/config\.json$ - [F,L]
RewriteRule ^/?config/plugin\.config\.json$ - [F,L]
RewriteRule ^/?core/loader/core\.loader\.php$ - [F,L]
RewriteRule "\.sql" - [F,L]

Options All -Indexes
