.caption
    @include shadow
    border-color: none
    border-radius: 1rem
    background-color: lightgrey
    margin: 0 auto  
    left: 0
    right: 0
    align-content: center
    padding: 1rem

    text-align: left

    p
        font-size: 1em
        font-family: Raleway

    @include respond-to(handhelds)
        width: 40rem
        padding: 1rem

        p
            font-size: 2em
